pipeline/fetch all table from lookup.json
{
	"name": "fetch all table from lookup",
	"properties": {
		"activities": [
			{
				"name": "fetch all table from lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT table_name FROM information_schema.tables\nWHERE table_type = 'BASE TABLE' and table_schema='saleslt' ORDER BY table_name ASC;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "fetch_all_tables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "iterate all tables from lookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "fetch all table from lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('fetch all table from lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "set variable to all tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sql_db_generic_ds",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "saleslt",
										"tableName": {
											"value": "@variables('tableName')",
											"type": "Expression"
										},
										"userName_DS_Param": "azurelib"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_generic_ds",
									"type": "DatasetReference",
									"parameters": {
										"folderName": {
											"value": "@concat(variables('tableName'),'/',formatDateTime(utcnow(),'yyyy'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "set variable to all tables",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tableName",
								"value": {
									"value": "@item().table_name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"tableName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-26T18:47:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}