pipeline/Ingestion_Product_To_JSON.json
{
	"name": "Ingestion_Product_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as karthickCount from saleslt.product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_db_generic_ds",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "product",
							"userName_DS_Param": "azurelib"
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup1').output.firstRow.karthickCount,10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sql_db_generic_ds",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "saleslt",
										"tableName": "product",
										"userName_DS_Param": "azurelib"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_generic_ds",
									"type": "DatasetReference",
									"parameters": {
										"folderName": {
											"value": "@pipeline().parameters.folderName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"folderName": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-28T15:12:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}